<article class="faq">
<h1>Agenda</h1>
<p>
    A medida que vayamos confirmando expositores, iremos actualizando la lista y horarios.
</p>

<div id="mobile" class=""></div>    
<div id="social" class=""></div>    
</article>
<script type="text/javascript">
    $(function(){init.agenda()})
</script>