<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<p><a href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=ulatina,+san+pedro,+san+jose+costa+rica&amp;sll=37.0625,-95.677068&amp;sspn=57.161276,135.263672&amp;ie=UTF8&amp;hq=ulatina,&amp;hnear=San+Pedro,+San+Jose,+Costa+Rica&amp;ll=9.934274,-84.044852&amp;spn=0.016317,0.033023&amp;z=16&amp;iwloc=B"><img src="http://3.bp.blogspot.com/_r7oiBesR1v4/SqlkS_NUMcI/AAAAAAAAAJU/8SnApRAua4I/s320/mapa.jpg" width="320" height="261" hspace="30" align="left" /></a>Universidad Latina <br />
Lourdes de Montes de Oca<br />
100 metros norte de Muñoz y Nane<br />
San Pedro, San Jose<br />
</p>
<p> Sede Central: (506) 2224-1920 </p>
</body>
</html>
