<article class="expositores">
   <h1>Expositores</h1>
   <p>
       Mario Bonilla</p>
   <p>Kibsaim Vindas</p>
   <p>Mario Merino</p>
   <p>Marcial Cambronero</p>
   <p>Christopher Quesada</p>
   <p>Brian Hochhalter</p>
   <p>Yeudy Molina</p>
   <p>&nbsp;</p>
</article>
